/* -------------------------------------------------------------------------- */
/*                                Custom styles                               */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'lobster';
  font-display: swap;
  src: url('~assets/fonts/lobster.woff2') format('woff2'),
    url('~assets/fonts/lobster.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* --------------------------------- Global --------------------------------- */

.show {
  display: block !important;
}

.hidden {
  display: none;
}

.bg-purple {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: rgb(97, 66, 130);
  background: radial-gradient(circle, rgba(97, 66, 130, 1) 0%, rgba(41, 6, 64, 1) 100%);
  z-index: -1;
}

main {
  &.content {
    margin-bottom: 1rem;

    @include _media-min(md) {
      margin-bottom: 3rem;
    }
  }

  &.content-game {
    height: calc(100vh - 30vh);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family-lobster;

    & .block-game {
      text-align: center;

      @include _media-min(md) {
        width: 40%;
      }
    }

    & .title-game {
      color: $_color-white;
      text-shadow: 1px 1px 1px $_color-black;
    }

    & span.input {
      padding: 3px;

      &>input.input-game {
        $char-w: 1ch;
        $gap: .5*$char-w;
        $n-char: 10;
        $in-w: $n-char*($char-w + $gap);

        display: block;
        margin: 1rem auto;
        border: none;
        padding: 0;
        width: $in-w + 1;
        background: repeating-linear-gradient(90deg, $_color-white 0, $_color-white $char-w,
          transparent 0, transparent $char-w + $gap) 0 100%/ #{$in-w - $gap} 2px no-repeat;
        font: 2rem $font-family-lobster, courier;
        letter-spacing: $gap;
        letter-spacing: 0.58ch;

        &:focus {
          outline: none;
          color: $color-yellow;
        }

        @include _media-min(md) {
          width: $in-w+1;
          font: 2.5rem $font-family-lobster, courier;
          letter-spacing: 0.6ch;
        }
      }
    }
  }

  &.content-prizes {
    height: calc(100vh - 50vh);
  }
}

.img-logo {
  width: 60px;
  padding-top: 1.25rem;
}

.text-container {
  color: white;
  font-family: $font-family-lobster;
}

.#{$_prefix}c-ic-angle-down-white {
  &::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
}

.c-alert {
  display: block;
  text-align: center;
  font-weight: 600;
  border: none;
  border-radius: .25rem;
  @include _padding(1);

  &.c-alert--success {
    background-color: $color-success;
    color: $_color-white;
  }
}

/* ---------------------------------- Home ---------------------------------- */

.c-images-prize {
  text-align: center;
  margin: 2rem 0 1rem 0;
  h1 {
    color: $color-yellow;
    text-shadow: 3px 3px 3px $_color-black;
  }
  h2 {
    text-shadow: 1px 1px 1px $_color-black;
  }
}

.c-message-prize {
  text-align: center;

  & > h1 {
    color: $color-yellow;
    font-size: 2.7rem;
    margin: 1rem 0 1rem 0;
    text-shadow: 3px 3px 3px $_color-black;

    @include _media-min(md) {
      font-size: 3rem;
    }
  }

  p {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 1px $_color-black;

    @include _media-min(md) {
      font-size: 1.1rem;
    }
  }

  .c-btn-play {
    margin: 2rem 0 2rem 0;
  }
}

.btn-play {
  @include _btn();
  padding: 1.25em 2em;
  background-color: $color-yellow;
  color: $_color-black;
  width: 95%;
  border-radius: 0.75em;
  border: none;
  transform-style: preserve-3d;
  font-family: $font-family-lobster;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
  background 150ms cubic-bezier(0, 0, 0.58, 1);
  animation: jittery 4s infinite;

  &:hover {
    background-color: #dba600;
    animation: heartbeat 0.2s infinite;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: _lighter($_color-gray); // For IE11
    background-color: _var-lighter-color-gray();
    cursor: not-allowed;
    color: #ccc;
  }

  @include _media-min(md) {
    width: 50%;
  }
}
.btn-restart {
  @extend .btn-play;
  animation: none;
  text-shadow: none;
}

/* -------------------------------- Page Game ------------------------------- */

// Loader game
.img-logo-game {
  width: 200px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.ticket-winner {
  text-align: center;
  color: $_color-white;
  text-shadow: 1px 1px 1px $_color-black;

  & h1 {
    margin: 20px 0;
    color: $color-yellow;
    text-shadow: 1px 1px 1px $_color-black;
  }
}

/* ------------------------------- Page Prizes ------------------------------ */
.block-list {
  width: 95%;
  margin: auto;
  overflow-x: auto;

  @include _media-min(md) {
    width: 70%;
  }
}

/* ------------------------------- Animations ------------------------------- */

@keyframes jittery {

  5%,
  50% {
    transform: scale(1);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19),
    0 6px 3px 0 rgba(0, 0, 0, 0.23);
  }

  10% {
    transform: scale(0.9);
  }

  15% {
    transform: scale(1.15);
  }

  20% {
    transform: scale(1.15) rotate(-5deg);
  }

  25% {
    transform: scale(1.15) rotate(5deg);
  }

  30% {
    transform: scale(1.15) rotate(-3deg);
  }

  35% {
    transform: scale(1.15) rotate(2deg);
  }

  40% {
    transform: scale(1.15) rotate(0);
  }
}

@keyframes heartbeat {
  50% {
    transform: scale(1.1);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
