/* -------------------------------------------------------------------------- */
/*                           Style for Nuxt Layouts                           */
/* -------------------------------------------------------------------------- */

/* ---------------------------- admin-connection ---------------------------- */

.content-connection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
