// Custom

.modal {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;

  &__backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__dialog {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    z-index: 2;

    @include _media-min(md) {
      width: 600px;
    }
  }

  &__close {
    cursor: pointer;
    opacity: 0.3;

    &:hover {
      opacity: 1;
      transition: all .5s ease-in-out;
    }
  }

  &__header {
    padding: 20px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  &__body {
    padding: 10px 20px 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__footer {
    padding: 10px 20px 20px;
  }
}

// Content Modal

.connection-title {
  margin-bottom: 1.5rem;

  .btn {
    width: calc(100%/2);
    padding: 1rem;
    font-weight: bold;
    letter-spacing: .15rem;
    text-transform: uppercase;
    cursor: pointer;

    @include _media-max(md) {
      padding: .5rem;
      font-size: .8rem;
    }

    &:hover {
      background-color: #111;
      color: #ffffff;
      transition: all .3s ease;
    }

    &-signUp {
      background-color: transparent;
      color: #111;
      border-color: transparent transparent #1c374d;
      border-right: none;
      // border-color: #1c374d #1c374d transparent;
    }

    &-login {
      background-color: transparent;
      color: #111;
      border-color: transparent transparent #1c374d;
      border-left: none;
    }
  }

  .active {
    background-color: #111;
    color: #ffffff;
    border: none;
  }
}

.error {
  color: red;
}

.show {
  display: block !important;
}
