/*
---
name: .c-navbar
category:
  - object/component
  - object/component/navbar
---
Navbar component

### html
```html
<ul class="c-navbar">
  <li class="c-navbar__item" aria-haspopup="true">
    <a href="#">menu</a>
    <ul class="c-navbar__submenu" aria-hidden="true">
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="c-navbar__item" aria-haspopup="true">
    <a href="#">menu</a>
    <ul class="c-navbar__submenu" aria-hidden="true">
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="c-navbar__item">
    <a href="#">menu</a>
  </li>
</ul>
```
```html
<ul class="c-navbar c-navbar--center">
  <li class="c-navbar__item" aria-haspopup="true">
    <a href="#">menu</a>
    <ul class="c-navbar__submenu" aria-hidden="true">
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="c-navbar__item" aria-haspopup="true">
    <a href="#">menu</a>
    <ul class="c-navbar__submenu" aria-hidden="true">
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="c-navbar__item">
    <a href="#">menu</a>
  </li>
</ul>
```
```html
<ul class="c-navbar c-navbar--left">
  <li class="c-navbar__item" aria-haspopup="true">
    <a href="#">menu</a>
    <ul class="c-navbar__submenu" aria-hidden="true">
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="c-navbar__item" aria-haspopup="true">
    <a href="#">menu</a>
    <ul class="c-navbar__submenu" aria-hidden="true">
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="c-navbar__item">
    <a href="#">menu</a>
  </li>
</ul>
```
```html
<ul class="c-navbar c-navbar--right">
  <li class="c-navbar__item" aria-haspopup="true">
    <a href="#">menu</a>
    <ul class="c-navbar__submenu" aria-hidden="true">
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="c-navbar__item" aria-haspopup="true">
    <a href="#">menu</a>
    <ul class="c-navbar__submenu" aria-hidden="true">
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="c-navbar__item">
    <a href="#">menu</a>
  </li>
</ul>
```
```html
<ul class="c-navbar" data-popup-mode="click">
  <li class="c-navbar__item" aria-haspopup="true">
    <a href="#">menu</a>
    <div class="c-navbar__toggle" aria-expanded="false">
      <span class="c-ic-angle-right" aria-hidden="true"></span>
    </div>
    <ul class="c-navbar__submenu" aria-hidden="true">
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <div class="c-navbar__toggle" aria-expanded="false">
          <span class="c-ic-angle-right" aria-hidden="true"></span>
        </div>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <div class="c-navbar__toggle" aria-expanded="false">
          <span class="c-ic-angle-right" aria-hidden="true"></span>
        </div>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="c-navbar__item" aria-haspopup="true">
    <a href="#">menu</a>
    <div class="c-navbar__toggle" aria-expanded="false">
      <span class="c-ic-angle-right" aria-hidden="true"></span>
    </div>
    <ul class="c-navbar__submenu" aria-hidden="true">
      <li class="c-navbar__subitem" aria-haspopup="true">
        <a href="#">submenu</a>
        <div class="c-navbar__toggle" aria-expanded="false">
          <span class="c-ic-angle-right" aria-hidden="true"></span>
        </div>
        <ul class="c-navbar__submenu" aria-hidden="true">
          <li class="c-navbar__subitem"><a href="#">submenu</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="c-navbar__item">
    <a href="#">menu</a>
  </li>
</ul>
```
*/

.#{$_prefix}c-navbar {
  @include _navbar();

  &--center {
    justify-content: center;

    .#{$_prefix}c-navbar__item {
      flex: 0 1 auto;
    }
  }

  &--left {
    .#{$_prefix}c-navbar__item {
      flex: 0 1 auto;
    }
  }

  &--right {
    justify-content: flex-end;

    .#{$_prefix}c-navbar__item {
      flex: 0 1 auto;

      > .#{$_prefix}c-navbar__submenu {
        @include _position(absolute, 100%, 0, null, auto);
      }
    }

    .#{$_prefix}c-navbar__subitem {
      > .#{$_prefix}c-navbar__submenu {
        @include _position(absolute, 0, 100%, null, auto);
      }
    }
  }

  &[data-popup-mode="click"] {
    .#{$_prefix}c-navbar__item,
    .#{$_prefix}c-navbar__subitem {
      position: relative;

      &[aria-haspopup="true"] {
        @include _padding-right(1);
      }
    }
  }

  &__toggle {
    position: absolute;
    top: calc(50% - #{$_base-line-height / 2});
    right: 5px;
    @include _square($_base-line-height);
    display: flex;
    align-items: center;
    justify-content: center;

    > .c-ic-angle-right {
      transform: translateY(0);
    }
  }

  // Custom
  a.navbar__link {
    transition: background-color 0.1s ease-out, color 0.1s ease-out;
    color: $color-navbar-link;
    opacity: 0.5;
    cursor: pointer;

    &.game {
      color: $_color-white;
      opacity: 0.5;
      &:hover {
        color: $_color-white;
        opacity: 1;
      }
      &.nuxt-link-active {
        color: $color-yellow;
        opacity: 1;
      }
    }

    &:hover {
      color: $color-navbar-link;
      opacity: 1;
    }
    &.nuxt-link-active {
      color: $color-violet;
      opacity: 1;
    }
  }

  a.footer {

    &__link {
      transition: background-color 0.1s ease-out,
      color 0.1s ease-out;
      color: $color-footer-link;
      opacity: 0.5;

      &:hover {
        color: $color-footer-link;
        opacity: 1;
      }
    }

    &__link-primary {
      color: $color-violet;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $color-blue;
      }
    }
  }
}

// .c-navbar__item:hover>.c-menu__submenu {
//   visibility: visible;
//   opacity: 1;
// }

.show-submenu {
  display: block !important;
}

.c-menu__submenu {
  display: none;
  position: absolute;
  inset: 50px auto auto -80%;
  visibility: visible;
  min-width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: opacity 0.1s ease-out;
  background-color: $_color-white;
  border: 1px solid rgba(0, 0, 0, .15);
  opacity: 1;

  @include _media-min(lg) {
    inset: 50px auto auto 0;
  }
}

.c-menu__subitem {
  position: relative;
  margin: 0;
  padding: 0;

  &:hover {
    a {
      color: $_color-white;
      background-color: $color-violet;
    }
  }

  & a {
    display: block;
    padding: 0.6875rem 0.875rem;
    text-align: left;
    text-decoration: none;
    color: $color-violet;
    transition: background-color 0.1s ease-out, color 0.1s ease-out;
  }
}

/* -------------------------------------------------------------------------- */
/*                               Navbar v1 right                              */
/* -------------------------------------------------------------------------- */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto;

  @include _media-min(md) {
    flex-direction: row;
  }
}

.content-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show {
  display: block !important;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.navbar-collapse {
  display: none;
  justify-content: left;
  background-color: transparent;
  border: 1px solid $_color-white;
  box-shadow: 0 1px 1px 1px #ccc;
  width: 100%;
  border-radius: 10px;
  margin-top: 1rem;

  @include _media-min(md) {
    display: flex;
    justify-content: right;
    border: none;
    box-shadow: none;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-left: 0 !important;
  list-style: none;

  @include _media-min(md) {
    flex-direction: row;
  }
}

.navbar-toggle {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: $_color-black;
  color: $_color-white;
  width: 40px;
  height: 40px;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  color: $color-navbar-link;
  opacity: 0.5;

  &:hover {
    color: $color-navbar-link;
    opacity: 1;
  }

  &.nuxt-link-active {
    color: $color-violet;
    opacity: 1;
  }
  &.game {
    color: $_color-white;
    opacity: 0.5;

    &:hover {
      color: $_color-white;
      opacity: 1;
    }

    &.nuxt-link-active {
      color: $color-yellow;
      opacity: 1;
    }
  }
}

.icon-dropdown::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dropdown-menu {
  position: relative;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 0;
  margin-top: 0px;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: $color-violet;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 10px;

  & > li:not(:last-child) {
    border-bottom: 1px solid $_color-white;
  }

  & > li > a {
    color: $_color-white;
  }

  @include _media-min(md) {
    position: absolute;
    background-color: $_color-white;

    &>li:not(:last-child) {
      border-bottom: none;
    }

    &>li>a {
      color: #212529;
    }
  }
}

.dropdown-item {
  display: block;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
}

[role="button"] {
  cursor: pointer;
}

/* ------------------------------ styles burger button ----------------------------- */

.burger {
  display: block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;

  &.game {
    color: $_color-white;
  }

  @include _media-min(md) {
    display: none;
  }
}

.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger.open {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burger.open:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger.open:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
