/*
* Don't forget the extension of files will be use to launch the environment
* example : .env.dev or .env.prod
*/

# Node
PORT=PORT

# Database
DB_USERNAME=DB_USERNAME
DB_PASSWORD=DB_PASSWORD
DB_CLUSTER=DB_CLUSTER
DB_NAME=DB_NAME